@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.window {
    max-width: 375px;
    margin: auto;
}
.content {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
}
.about {
    display: flex;
    flex-wrap: wrap;
}
.main-title {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 26px;
    margin: 0 auto;
    margin-top: 56px; /*почему здесь фиксированное, 
    а не что-то иное*/
}
.content-text {
    width: 308px;
    font-family: Roboto;
    font-style: normal; /*зачем это копировать*/
    font-weight: normal;
    font-size: 12px;
    line-height: 150%; /*жто разве надо копировать из фигмы?*/
}
.content-text p {
    margin-bottom: 18px 0;
}
.content-img {
    width: 146.32px;
    height: 146.78px;
    margin: auto;
    margin-top: 16px;
}
.about {
    width: 308px;
    margin: 0 auto;
    margin-top: 45,71px;
    margin-left: 0;
}
.about-card {
    /*зачем им ставить максимальную щирину?*/
    width: 120px;
    /*margin-right: 40px;*/
    margin-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%; /*много не того? моно объединить*/
}
.card-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
}
.about-img {
    display: none;
}
/*tablet*/
/*можно как-то в 
относительных единицах задать*/
@media (min-width: 834px) {
    .window {
        min-width: 834px;
    }
    .main-title {
        min-width: 834px;
        height: 64px;
        font-size: 32px;
    }
    .content-text {
        width: 383px;
        font-size: 14px;
    }
    .about {
        width: 690px;
    }
    .about-card {
        font-size: 11px;
    }
    .card-title {
        font-size: 15px;
    }
}
/*desktop unfinished*/
@media (min-width: 1140px) {
    .window {
        min-width: 834px;
    }
    .main-title {
        min-width: 834px;
        height: 64px;
        font-size: 32px;
    }
    .content-text {
        width: 383px;
        font-size: 14px;
    }
    .about {
        width: 690px;
    }
    .about-card {
        font-size: 11px;
    }
    .card-title {
        font-size: 15px;
    }
    .about-img {
        display: block;
    }
}