@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
.window {
    max-width: 375px;
    margin: auto;
}
.content {
    display: flex;
    flex-wrap: wrap;
}
.about {
    display: flex;
    flex-wrap: wrap;
}
.main-title {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 26px;
    /*margin: 0 auto;*/
    margin-top: 56px; /*почему здесь фиксированное, 
    а не что-то иное*/
}
.content-text {
    width: 308px;
    font-family: Roboto;
    font-style: normal; /*зачем это копировать*/
    font-weight: normal;
    font-size: 12px;
    line-height: 150%; /*жто разве надо копировать из фигмы?*/
}
.content-text p {
    margin: 18px 0;
}
.content-img {
    width: 146.32px;
    height: 146.78px;
    margin: auto;
    margin-top: 16px;
}
.about {
    width: 308px;
    margin: 0 auto;
    margin-top: 45.71px;
    margin-left: 0;
}
.about-card {
    /*зачем им ставить ширину?*/
    width: 120px;
    /*margin-right: 40px;*/
    margin-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%; /*можно эту строку 
    и в след классе такую же как-то в общее вынести, 
    чтобы не потоврялось?*/
}
.card-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
}
.about-img {
    display: none;
}
/*tablet*/
/*можно как-то в 
относительных единицах задать? Как это понять?*/
@media (min-width: 834px) {
    .window {
        min-width: 834px;
    }
    .main-title {
        min-width: 834px;
        height: 64px;
        font-size: 32px;
    }
    .content-text {
        width: 383px;
        font-size: 14px;
    }
    .about {
        width: 690px;
    }
    .about-card {
        font-size: 11px;
    }
    .card-title {
        font-size: 15px;
    }
}
/*desktop*/
@media (min-width: 1140px) {
    .window {
        min-width: 1140px;
    }
    .content {
        flex-wrap: nowrap;
    }
    .content-img {
        margin-left: 190px;
    }
    .main-title {
        margin-bottom: 45px;
        font-size: 55px;
        line-height: 101.38%; /*так в фигме. 
        но почему-то смотрится не так, как надо*/
    }
    .content-text {
        width: 662px; /*надо ли жестко ограничивать?*/
        font-size: 24px;
        line-height: 150%;
    }
    .content-img {
        width: 314px;
        height: 315px;
    }
    .about {
        margin-top: 90px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 18px;
    }
    .about-card {
        width: 900px;
    }
    .card-title {
        font-size: 15px;
        font-size: 25px;
        line-height: 130%;
    }
    .about-img {
        display: block;
        margin-right: 130px;
    }
}